<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capítulo 01 – Nome da Série</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>

<header>
    <h1>DarckScan</h1>
</header>

<main>

    <div class="nav-btns">
        <a href="index.html">Voltar</a>
        <a href="cap-02.html">Próximo</a>
    </div>

    <!-- Coloque as imagens do capítulo -->
    <img class="capitulo-img" src="imgs/cap-01/001.jpg">
    <img class="capitulo-img" src="imgs/cap-01/002.jpg">
    <img class="capitulo-img" src="imgs/cap-01/003.jpg">

    <div class="nav-btns">
        <a href="index.html">Voltar</a>
        <a href="cap-02.html">Próximo</a>
    </div>

</main>

</body>
</html>
